<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.username.label }}
        {{ form.username }}
        {{ form.username.errors }}
        <hr>
        {{ form.password1.label }}
        {{ form.password1 }}
        {{ form.password1.errors }}
        <hr>
        {{ form.password2.label }}
        {{ form.password2 }}
        {{ form.password2.errors }}
        <hr>
        <button type="submit">
            Register
        </button>

    </form>
</body>
</html>